@model IEnumerable<CountryInfo.Models.Country>
@{
    ViewBag.Title = "CountryInfo";
}

<h2>@ViewBag.Message</h2>

<div class="map">
<a href="@Url.Action("Index")"><img id="continent_map" src="@Url.Content("~/Content/Images/" + ViewBag.Continent +".png")" usemap="#continent_map" border="0" width="800" height="400" alt="" /></a>
<map id="_continent_map" name="continent_map">
@RenderPage(@Url.Content("~/Content/Maps/" + ViewBag.Continent + ".cshtml"))
</map>
</div>

<div id="black_box" >
    <div id="info_form" onClick="">
        <form id="submit_info" method="post" name="submit" action="">
			    <ul>
                    <li>
                        <h2>
                            Enter a message about the country
                        </h2>
                    </li>
                    <li>
                        <label class="form-label-left" id="label_1" for="input_1"> Message </label>
                        <input type="textbox" name="info_text" id="info_text" class="text" size="80" />
                    </li>
                    <li>
			            <label class="form-label-left" id="label_3" for="input_3"> Country </label>
                        <select id="select_country">
                            @foreach (var item in Model) {
                                <option value="@item.Country_Name">@item.Country_Name</option>
                            }
                        </select> 
                    </li>
                    <li>
                        <button type="button" class="button" onClick="process_post_form();">Save</button>
                        <button type="button" class="button" onClick="cancel_post();">Cancel</button>
                    </li>
                </ul>
        </form>

        <div id="failOver" style="display:none;" class="form_fail">
		        <p>Your post must have at maximum 250 characters.</p>
	        </div>
        <div id="failUnder" style="display:none;" class="form_fail">
		        <p>Please type something before saving.</p>
        </div>
    </div>
    <div id="country_infos">
    </div>
</div>
<div id="success" style="display:none;" class="success">
		<p>Information added successfully</p>
</div>

