@model IEnumerable<CountryInfo.Models.Country>
@{
    ViewBag.Title = "CountryInfo";
}

<h2>CountryInfo</h2>

@ViewBag.Message




    


<div style="text-align:center; width:800px; margin-left:auto; margin-right:auto;">
<img id="continent_map" src="@Url.Content("~/Content/Images/" + ViewBag.Continent +".png")" usemap="#continent_map" border="0" width="800" height="400" alt="" />
<map id="_continent_map" name="continent_map">
@RenderPage(@Url.Content("~/Content/Maps/" + ViewBag.Continent + ".cshtml"))
</map>
</div>
</div>

    <div id="info_form">
        <form id="submit_info" method="post" name="submit" action="">
			    <br />
                <select id="select_country">
                    @foreach (var item in Model) {
                        <option value="@item.Country_Name">@item.Country_Name</option>
                    }
                </select> 
                <input type="textbox" name="info_text" id="info_text" class="text" size="100" />
			    <button type="button" class="button" onClick="process_post_form();">Save</button>
        </form>
    </div>
    <div id="failOver" style="display:none;" class="form_fail">
			<p>Your post must have at maximum 250 characters.</p>
		</div>
    <div id="failUnder" style="display:none;" class="form_fail">
			<p>Please type something before saving.</p>
    </div>